[Unit]
Description=M-Pesa Django Application with Gunicorn
After=network.target

[Service]
Type=exec
User=devops
Group=devops
WorkingDirectory=/home/devops/MPESA/mpesa
Environment="PATH=/home/devops/MPESA/mpesa/venv/bin"
Environment="DEBUG=False"
Environment="CLOUDFLARE_TUNNEL=True"
Environment="DJANGO_SETTINGS_MODULE=config.settings"
ExecStart=/home/devops/MPESA/mpesa/venv/bin/gunicorn --config shell/gunicorn.conf.py config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
